body{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40 px;
}
.orange-color{
    color: orange;
}
.flexible-cointainer{
    display: flex;
    margin-bottom: 150px;


}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.experience-area{
    background-image: url("image/exp-bg.png");
    background-position: left;
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin: 5%;
    padding: 15px;
    border-radius: 10px;
  

}

#full-stack{
    border-left: 7px solid tomato;

}
#baby-stack{
    border-left: 7px solid blue;
}
footer{
    text-align: center;
    font-size: 20px;
}